.profile {
  .card {
    width: 100%;
    max-width: 400px;
    background: linear-gradient(135deg, #1a0038, #002092);
    border: 1px solid #030b6b;
justify-content: center;  
align-items: center;  
  }
  .profile-photo {
    width: 100%;
    border: 1px solid white;
    background-color:#a9a4a4;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    & img {
      width: 200px;
      height: 200px;
      border: 2px solid white;
      border-radius: 50%;
    }

    & h3 {
      color: rgb(0, 0, 0);
      font-size: 2rem;
      text-align: center;
    }
  }
  form {
    label {
      display: block;
      font-size: 1.4rem;
      font-weight: 500;
      color: white;
    }
    input[type="text"],
    input[type="phone"],
    input[type="file"],
    input[type="email"],
    select,
    textarea,
    input[type="password"] {
      display: block;
      font-size: 1.6rem;
      font-weight: 300;
      padding: 1rem;
      margin: 1rem auto;
      width: 100%;
      border: 1px solid #777;
      border-radius: 3px;
      outline: none;
      
    }

     textarea {
     width: 100%;
     background: linear-gradient(135deg, #cba6f6, #5a7cf7);

   }
  }
  
  h2{
    align-items: center;
    justify-content: center;
  }
  input{
    background: linear-gradient(135deg, #cba6f6, #5a7cf7);
   };
}
